#!/usr/bin/env xdg-open
[Desktop Entry]
Version=3.0
Type=Application
Name=control
GenericName=Control Center
Comment=Fast & feature-rich
TryExec=control
StartupNotify=true
Exec=/usr/bin/control
Icon=settings
Categories=System;Control;Settings;
# A project by "quantumvoid._" and "nekrooo_" <--- discord id
