* {
  font-family: "SF Pro";
  font-size: 13px;
}

window#waybar {
  background-color: rgba(27, 27, 27, 0.9);
}

#workspaces button:hover {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 7px;
}

#workspaces button.active {
  background-color: #ffffff;
  color: #1b1b1b;
  border-radius: 7px;
}

#workspaces button.urgent {
  background-color: #ff7674;
}

#clock,
#bluetooth,
#tray,
#battery,
#network,
#pulseaudio {
  padding: 0 10px;
  color: #ffffff;
}