* {
  font-family: "SF Pro";
  font-size: 13px;
}

window#waybar {
  background-color: #1b1b1b;
}

#workspaces button:hover {
  background: rgba(0, 0, 0, 0.2);
  animation: gradient_f 20s ease-in infinite;
  transition: all 0.3s cubic-bezier(0.55, -0.68, 0.48, 1.682);
}

#workspaces button.active {
  background-color: #ffffff;
  color: #1b1b1b;
  animation: gradient_f 20s ease-in infinite;
  transition: all 0.3s cubic-bezier(0.55, -0.68, 0.48, 1.682);
}

#workspaces button.urgent {
  background-color: #eb4d4b;
}

#clock,
#bluetooth,
#tray,
#battery,
#network,
#pulseaudio {
  padding: 0 10px;
  color: #ffffff;
}