* {
  font-family: "SF Pro";
  font-size: 13px;
}

window#waybar {
  background-color: rgba(40, 40, 40, 0.9);
}

#workspaces button:hover {
  background: rgba(169, 182, 101, 0.2);
  border-radius: 7px;
}

#workspaces button.active {
  background-color: #a9b665;
  color: #282828;
  border-radius: 7px;
}

#workspaces button.urgent {
  background-color: #ea6962;
}

#clock,
#bluetooth,
#tray,
#battery,
#network,
#pulseaudio {
  padding: 0 10px;
  color: #d4be98;
}