window#osd {
  padding: 12px 20px;
  border-radius: 10px; 
  border: 2px solid #ebdbb2; 
  background: rgba(40, 40, 40, 0.95); 
}

#container {
  margin: 0px;
}

image, label {
  color: #ebdbb2;
}

progressbar {
  min-height: 6px;
  background: rgba(40, 40, 40, 1); 
}

progress {
  background: #ebdbb2;
  border-radius: 10px;
}
