* {
	background-image: none;
	box-shadow: none;
}

window {
	background-color: rgba(0, 0, 0, 0.7);
}

button {
	border-radius: 10px;
	border-color: grey;
	text-decoration-color: #FFFFFF;
	color: #FFFFFF;
	background-color: #1B1B1B;
	border-style: solid;
	border-width: 2px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 10%;
}

button:focus, button:active, button:hover {
	background-color: #636363;
	outline-style: none;
}

#lock {
	background-image: image(url("/home/felipe/.config/wlogout/lock-solid.png"), url("/home/felipe/.config/wlogout/lock-solid.png"));
}

#logout {
	background-image: image(url("/home/felipe/.config/wlogout/lock-solid.png"), url("/home/felipe/.config/wlogout/lock-solid.png"));
}

#suspend {
	background-image: image(url("/home/felipe/.config/wlogout/moon-solid.png"), url("/home/felipe/.config/wlogout/moon-solid.png"));
}

#hibernate {
	background-image: image(url("/home/felipe/.config/wlogout/moon-solid.png"), url("/home/felipe/.config/wlogout/moon-solid.png"));
}

#shutdown {
	background-image: image(url("/home/felipe/.config/wlogout/power-off-solid.png"), url("/home/felipe/.config/wlogout/power-off-solid.png"));
}

#reboot {
	background-image: image(url("/home/felipe/.config/wlogout/arrows-rotate-solid.png"), url("/home/felipe/.config/wlogout/arrows-rotate-solid.png"));
}
